
.answer .element-wrapper {
  font-weight: lighter;
  font-size: 13px;
}

.answer label.wrapper-label {
  font-weight: bold;
  font-size: 13px;
}

.answer {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;

}

.answer .input-wrapper {
  border: 0 !important;
}

.answer label {
  color: var(--fs-color-light) !important;
}

#quizwrapper .answer label {
  color: var(--fs-color-dark) !important;
}

.q-green {
  background-color: var(--fs-color-secondary-500);
  color: var(--fs-color-light);
}

.q-red {
  background-color: var(--fs-color-danger-500);
  color: var(--fs-color-light) !important;
}

.q-neutral {
  background-color: var(--fs-color-warning-200);
  color: var(--fs-color-primary-500);
}

.q-neutral label.wrapper-label {
  color: var(--fs-color-primary-500) !important;
}

.question {
  color: var(--fs-color-light);
  font-weight: bold;
  position: relative;
  width: 96%;
  background: var(--fs-color-primary-500);
  border-radius: 10px;
  padding: 15px;
}

.question:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: var(--fs-color-transparent) var(--fs-color-primary-500);
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 13px;
}

#push-notification-label {
  margin-bottom: 10px;
}
